<ion-list>
  <ion-item>
    <ion-input
      label="Nombre de categoría"
      labelPlacement="floating"
      placeholder="ej. Trabajo, Personal..."
      [value]="name"
      (ionInput)="name = $event.detail.value ?? ''"
    >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Color</ion-label>
    <div class="color-picker">
      @for (c of colors; track c) {
        <div
          class="color-option"
          [style.background]="c"
          [class.selected]="color === c"
          (click)="color = c"
        ></div>
      }
    </div>
  </ion-item>
</ion-list>

<div style="padding: 16px">
  <ion-button expand="block" (click)="submit()" [disabled]="!name.trim()">
    {{ editingCategory ? "Guardar cambios" : "Crear categoría" }}
  </ion-button>
</div>
